<div class="register-container">
  <div class="card">
    <h2>GeoAsset Register</h2>

    <form (ngSubmit)="onRegister()">
      <div class="form-group">
        <label>Username</label>
        <input type="text" name="username" [(ngModel)]="registerData.username" required>
      </div>

      <div class="form-group">
        <label>Email</label>
        <input type="text" name="username" [(ngModel)]="registerData.email" required>
      </div>

      <div class="form-group">
        <label>Password</label>
        <input type="password" name="password" [(ngModel)]="registerData.password" required>
      </div>

      <button type="submit">Register</button>

      <p class="error" *ngIf="errorMessage">{{ errorMessage }}</p>
    </form>
    <p class="login-redirect">
      Already have an account?
      <a (click)="onLoginRedirect()">Login here</a>
    </p>
  </div>
</div>